@define-color background #1e1e2e;
@define-color background-alt #313244;
@define-color foreground #cdd6f4;
@define-color selected #cba6f7;
@define-color active #0F0F0F;

@import url("file:///home/nik/.cache/wal/colors-waybar.css");

/* -- Global Styling -- */
* {
  border: none;
  font-family: "AdwaitaMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  color: @color15;
}

window#waybar {
  background: transparent;
}
.tskbr > box{
  border-radius: 0;
  background-color: @background;
  opacity: 0.95;
}

#tray {
  border-radius: 10px 10px 0px 0px;
  background-color: transparent;
  opacity: 0.0;
}

.main > box {
  /*margin: 5px 10px 0 10px;*/
  padding: 2px 0;
  background-color: @background;
  border-radius: 0px 0px;
  border: 0px solid @selected; /* 2px solid @selected */
  opacity: 0.95;
}

/* -- Tooltip Styling -- */
tooltip {
  background: @background;
  margin-top: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: @color14;
}

/* -- General Module Styling -- */
#custom-idle_inhibitor,
#workspaces,
#window,
#custom-cpuinfo,
#memory,
#custom-cpu,
#clock,
#custom-wifi,
#network,
#tray,
#privacy,
#language,
#pulseaudio,
#custom-backlight,
#power-profiles-daemon,
#battery,
#custom-weather,
#custom-power,
#custom-spotify{
  opacity: 1;
  padding: 0px 3px;
  margin: 0px 6px;
}

/* -- Left Modules -- */
.modules-left {
  margin-left: 6px;
}

/* Idle Inhibitor */
#custom-idle_inhibitor {
  padding: 0 0 0 4px;
}

/* Workspaces */
/* Workspace Button */
/*#workspaces button {
  font-size: 10px;
  color: @selected;
  background: @background;
  border-radius: 10px;
  border: 2px solid @selected;
  margin: 2px;
  padding: 0 2px;
  animation: ws_normal 20s ease-in-out 1;
}*/

/* Active Workspace Button */
/*#workspaces button.active {
  background: @selected;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}*/

/*#workspaces button {
    border-radius: 10px;
    padding: 0 2px 0 5px;
    background-color: transparent;
    margin: 2px;
}

#workspaces button label {
  color: @selected;
  font-size: 10px;
}

#workspaces button.active { 
    background-color: @selected;
}

#workspaces button.active label {
  color: @background;
}*/

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0;
    margin: 0px 4px;
    min-height: 12px;
    min-width: 18px;
    background-color: transparent;
}

#workspaces button label {
  color: @color13;
  font-size: 15px;
}

#workspaces button.active label {
  color: @color13;
  font-size: 12px;
}

#workspaces button.active {
    background-color: @color13;
    border-radius: 10px;
    margin: 10px 4px;
    padding: 0;
    min-width: 36px;
}



/* Hover Effect for Workspace Buttons */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(255,255,255,0.1);
}

#workspaces button.active:hover label {
  color: @color13;
}
#workspaces button:hover label {
  color: @color13;
}

#window {
  margin-left: 0;
}

/* -- Right Modules -- */
/* Network */
#network {
  font-size: 13px;
}

/* Tray */
#tray {
  padding: 0 0px;
  background: transparent;
  margin-right: 15px;
}

#tray menu {
  border-radius: 10px;
  background: @background;
}

#tray menu menuitem {
  border-radius: 8px;
}

#tray menu menuitem:hover {
  background-color: @selected;
}

/* Privacy */
#privacy {
  background-color: #005000;
  border-radius: 6px;
  padding: 0 6px;
}

/* Power Profiles */
#power-profiles-daemon {
  padding-right: 6px;
}

/* Battery */
#battery.warning {
  color: #f9da95;
}

#battery.critical {
  color: #f7668f;
}

/* Power Button */
#custom-power {
  margin-right: 0px;
  padding-left: 12px;
  border-radius: 100px;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  font-size: 24px;
}


#custom-power:hover {
  background: @cursor;
  color: @background; 
}

#taskbar button:hover {
  background-color: @cursor;
}

#language{
  margin-left: 0;
}
